<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apretaste">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppWithBar">
        <activity
            android:name="apretaste.activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/App" />
        <activity
            android:name="apretaste.activity.Settings_buzon"
            android:label="Cambiar buzón personal"
            android:parentActivityName="apretaste.activity.SettingsActivity" />
        <activity
            android:name="apretaste.activity.Settings_nauta"
            android:configChanges="orientation|screenSize"
            android:label="Configuración de nauta"
            android:parentActivityName="apretaste.activity.SettingsActivity" />
        <activity
            android:name="apretaste.activity.Settings_about"
            android:label="Sobre esta app"
            android:parentActivityName="apretaste.activity.SettingsActivity" />
        <activity
            android:name="apretaste.activity.SettingsActivity"
            android:label="Ajustes"
            android:parentActivityName="apretaste.activity.DrawerActivity" />
        <activity
            android:name="apretaste.activity.NotificationsActivity"
            android:configChanges="orientation|screenSize"
            android:label="Notificaciones"
            android:parentActivityName="apretaste.activity.DrawerActivity"
            android:theme="@style/App" />
        <activity
            android:name="apretaste.activity.HistoryActivity"
            android:label="Historial"
            android:parentActivityName="apretaste.activity.DrawerActivity"
            android:theme="@style/App" />
        <activity
            android:name="apretaste.activity.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="Perfil"
            android:parentActivityName="apretaste.activity.DrawerActivity" />
        <activity
            android:name="apretaste.activity.ServiceDetails"
            android:label="Detalles"
            android:parentActivityName="apretaste.activity.DrawerActivity" />
        <activity
            android:name="apretaste.activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/App" />
        <activity
            android:name="apretaste.activity.DrawerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppWithBar.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="apretaste.activity.StartActivity"
            android:theme="@style/App" />
        <activity
            android:name="apretaste.activity.LoginHttp"
            android:theme="@style/App" />
        <activity
            android:name="apretaste.activity.CodeVerificationActivity"
            android:theme="@style/App" />
        <activity
            android:name="apretaste.activity.WelcomeActivity"
            android:theme="@style/App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>